.mat-mdc-header-row {
  background-color: var(--font-color);
  background: linear-gradient(90deg, var(--secondary-left) 0%, var(--secondary-right) 100%);
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  gap: 25px;
  background: var(--font-color);
  border: 3px solid var(--background-color);
  border-radius: 10px;
  padding: 20px;

  color: var(--primary-color);
  box-sizing: border-box;
  height: 100%;
}
table.form-container {
  border-spacing: 0;
}

  table.form-container th, table.form-container td {
    border: 1px solid var(--background-color);
    text-align: left;
    word-wrap: break-word;
  }

  table.form-container th {
    background-color: var(--background-color);
    color: var(--font-color);
  }
.no-data {
  color: #9A7E6F;
  text-align: center; /* Wyrównanie do środka */
  font-style: italic; /* Opcjonalne, dla wyróżnienia napisu */
}
