div[mat-dialog-actions] button {
  cursor: pointer;
  font-size: 15px;
  color: var(--font-color);
  padding: 2px;
  width: auto;
  height: 30px;
  margin-right:10px;
  border: 1px solid var(--background-color);
  text-align: center;
  white-space: nowrap;
  background-color: var(--primary-color);
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "Poppins", "Arial Black";
  transition: background-color 0.3s ease, color 0.3s ease;
}

  div[mat-dialog-actions] button:hover {
    background-color: var(--secondary-left);
    background: linear-gradient(90deg, var(--secondary-left) 0%, var(--secondary-right) 100%);
    color: var(--font-color-hover);
  }
