<!-- <h1 mat-dialog-title>Edycja ilości</h1>
        <div mat-dialog-content>
            <p>Podaj nową ilość produktu:</p>
            <mat-form-field>
                <input matInput type="number" [(ngModel)]="quantity" placeholder="Ilość" required>
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button mat-button (click)="onCancel()">Anuluj</button>
            <button mat-button (click)="onConfirm()">OK</button>
        </div> -->

<div mat-dialog-title class="dialog-title">{{ 'Edycja ilości produktu' }}</div>
<div mat-dialog-content class="box-dialog">
  <!-- Wyświetlanie danych o produkcie -->
  <p><strong>Nazwa produktu:</strong> {{ productOnList.products?.name }}</p>
  <p><strong>Aktualna ilość:</strong> {{ productOnList.quantity }}</p>
  <p><strong>Cena:</strong> {{ productOnList.products?.price}}</p>
  <!-- <p><strong>Opis:</strong> {{ productOnList.products?.description }}</p> -->
  <p>Podaj nową ilość produktu:</p>
  <form #editQuantityForm="ngForm">
    <mat-form-field>
      <input matInput type="number" name="newQuantity" [(ngModel)]="newQuantity" placeholder="Nowa ilość" required
             #quantityInput="ngModel" [min]="1" />
    </mat-form-field>
    <div class="error">
      @if(newQuantity === productOnList.quantity){
      <p>Nowa ilość musi być różna od aktualnej.</p>
      }
      @if(quantityInput.touched && quantityInput.invalid){
      @if(quantityInput.errors?.['required']){
      <p>Ilość jest wymagana.</p>
      }
      }
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Anuluj</button>
  <button mat-button [disabled]="editQuantityForm.invalid || newQuantity === productOnList.quantity" (click)="onConfirm()">
    Zatwierdź
  </button>
</div>
