<div class="site-content">
  <div class="title-manage">Dodaj produkt</div>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="form-container">
    <div class="form-row">
      <div class="label-input-wrapper">
        <label for="name">Nazwa:</label>
        <input id="name" formControlName="name" class="form-input" />
      </div>
      @if(productForm.get('name')?.invalid && productForm.get('name')?.touched){
      <div class="error-message">
        Nazwa jest wymagana
      </div>}
    </div>

    <div class="form-row">
      <div class="label-input-wrapper">
        <label for="unit">Jednostka:</label>
        <input id="unit" formControlName="unit" class="form-input" />
      </div>
      @if(productForm.get('unit')?.invalid && productForm.get('unit')?.touched){
      <div class="error-message">
        Jednostka jest wymagana, i nie może być ujemna.
      </div>
    }
    </div>

    <div class="form-row">
      <div class="label-input-wrapper">
        <label for="price">Cena:</label>
        <input id="price" type="number" formControlName="price" class="form-input" />
      </div>
      @if(productForm.get('price')?.invalid && productForm.get('price')?.touched){
      <div class="error-message">
        Cena musi być liczbą większą od 0
      </div>
    }
    </div>

    <div class="form-row">
      <div class="label-input-wrapper">
        <label for="quantity">Ilość:</label>
        <input id="quantity" type="number" formControlName="quantity" class="form-input" />
      </div>
      @if(productForm.get('quantity')?.invalid && productForm.get('quantity')?.touched){
      <div class="error-message">
        Ilość musi być liczbą większą od 0.001
      </div>
    }
    </div>

    <div class="form-row">
      <div class="label-input-wrapper">
        <label for="selectedCategory">Kategoria:</label>
        <select id="selectedCategory" formControlName="categoryId" class="form-input">
          <option value="" disabled selected>Wybierz kategorię:</option>
          @for(category of categories; track category) {
          <option [value]="category.id">{{category.categoryName}}</option>
          }
        </select>
      </div>
      @if(productForm.get('selectedCategory')?.invalid && productForm.get('selectedCategory')?.touched){
      <div class="error-message">
        Kategoria musi zostać wybrana
      </div>
    }
    </div>

    <div class="form-row">
      <div class="label-input-wrapper">
        <label for="type">Podkategoria:</label>
        <input id="type" formControlName="type" class="form-input" />
      </div>
      <div class="error-message"></div>
    </div>

    <div class="button-group">
      <button type="submit" [disabled]="productForm.invalid" class="action-button">Wyślij</button>
    </div>
  </form>
</div>
