/* Kontener formularza */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Odstępy między elementami */
  background-color: #B7C4CF; /* Jasnoszary/niebieski */
  border: 3px solid #54473F; /* Ciemnobrązowy */
  border-radius: 10px;
  padding: 20px;
  font-family: 'Playfair Display', serif;
  color: #54473F;
  box-sizing: border-box;
}

  /* Etykiety */
  .form-container label {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 5px;
  }

/* Pola tekstowe */
.form-input {
  font-family: 'Playfair Display', serif;
  font-size: 19px;
  padding: 10px;
  border: 2px solid #54473F; /* Obramowanie */
  border-radius: 5px;
  background-color: #f5e6da; /* Kremowe tło */
  color: #54473F; /* Tekst */
  box-sizing: border-box;
}

  /* Pola tekstowe podczas focus */
  .form-input:focus {
    outline: none;
    border-color: #9A7E6F; /* Jasnobrązowy */
  }

/* Komunikaty błędów */
.error-message {
  font-size: 17px;
  color: red;
  margin-top: -8px;
  margin-bottom: 10px;
}

/* Przycisk */
.form-button {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  padding: 10px 20px;
  color: #54473F; /* Tekst */
  background-color: #d7ccc8; /* Jasny brązowy */
  border: 3px solid #54473F;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

  /* Hover dla przycisku */
  .form-button:hover {
    background-color: #9A7E6F; /* Jasnobrązowy */
  }

  /* Przycisk wyłączony */
  .form-button:disabled {
    background-color: #f5e6da;
    color: #9A7E6F;
    border-color: #9A7E6F;
    cursor: not-allowed;
  }
