<div class="site-content">
  <div class="title">Dodaj przepis do spiżarni</div>
  <div class="background-container">

    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" class="form-container">
      <mat-form-field>
        <mat-label>Nazwa</mat-label>
        <input matInput type="text" formControlName="name" name="name" placeholder="Wpisz nazwę przepisu" required />
        <!-- [(ngModel)]="newRecipe.name"  -->
      </mat-form-field>
      <div formArrayName="ingredients">
      <mat-form-field>
        <mat-label>Składniki</mat-label>
        <mat-select>
          <!-- [formControl]="addRecipeControl" -->
          @for (category of categories; track category) {
          <mat-optgroup [label]="category.categoryName">
            @for (productModel of category.productModels; track productModel) {
            <mat-option [value]="productModel">{{productModel.name}}</mat-option>
            }
          </mat-optgroup>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ilość</mat-label>
        <input matInput formControlName="quantity" type="number" name="quantity" required />
      </mat-form-field>

      <button class="action-edit-button" mat-button (click)="addProductModelToRecipe()">Dodaj produkt</button>
    </div>


      <!-- <mat-form-field>
        <mat-label>Ilość</mat-label>
 [(ngModel)]="newProductModel.quantit
    </mat-form-field> -->
      <div class="button-group">
        <button class="action-button" (ngSubmit)="onSubmit()">Dodaj przepis</button>
      </div>
    </form>
  </div>

</div>