<div class="outer-container">
  <!-- Sekcja nagłówka -->
  <div class="header-container">
    <div class="title-section">
      <button class="toggle-button" (click)="toggleSection('pantry')">Pokaż Spiżarnię</button>
      <button class="action-button" (click)="managePantry()">Zarządzaj</button>

      <div class="title">Spiżarnia domowa</div>
      <button class="action-button" (click)="browsePantry()">Przeglądaj</button>
      <button class="toggle-button" (click)="toggleSection('shoppingList')">Pokaż Listę Zakupów</button>
    </div>
  </div>

  <!-- Sekcja treści -->
  <div class="body">
    <!-- Sekcja: Spiżarnia -->
    <div class="content-section">
      <h3>Rzeczy w Spiżarni</h3>
      <p>Lista produktów w spiżarni...</p>
    
      <h3>Lista Zakupów</h3>
      <form>
        <label for="newItem">Dodaj element:</label>
        <input id="newItem"
               type="text"
               placeholder="Wpisz produkt"
               required />
        <button type="button">Dodaj</button>
      </form>

      <!-- Wyświetlanie statycznej listy zakupów -->
      <ul>
        <li>Produkt 1 <button> Usuń </button></li>
        <li>Produkt 2 <button> Usuń </button></li>
        <li>Produkt 3 <button> Usuń </button></li>
      </ul>
   
    </div>
  </div>
</div>
