<div class="outer-container">
  <!-- Sekcja nagłówka -->
  <div class="header-container">
    <div class="title-section">
      <button class="toggle-button" (click)="toggleSection('pantry')">Pokaż Spiżarnię</button>
      <button class="action-button" (click)="managePantry()">Zarządzaj</button>

      <div class="title">Spiżarnia domowa</div>
      <button class="action-button" (click)="browsePantry()">Przeglądaj</button>
      <button class="toggle-button" (click)="toggleSection('shoppingList')">Pokaż Listę Zakupów</button>
    </div>
  </div>

  <!-- Sekcja treści -->
  <div class="content-container">
      <div class="body">
        <!-- Spiżarnia -->
        <div class="content-section" *ngIf="isPantryVisible">
          <h3>Rzeczy w spiżarni</h3>
          <p>Lista produktów w spiżarni...</p>
        </div>

        <!-- Lista zakupów -->
        <div class="content-section" *ngIf="isShoppingListVisible">
          <h3>Lista zakupów</h3>
          <p>Lista rzeczy do kupienia...</p>
        </div>

        <!-- Przykładowy tekst do wypełnienia strony -->
        <div class="content-section">
          <h3>Przykładowy tekst</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris condimentum nisi sit amet efficitur cursus. Nulla facilisi. Duis in venenatis erat. Suspendisse potenti. Proin eget massa vel ligula dictum suscipit non non sapien.</p>
          <p>Aliquam vitae ligula eros. Phasellus ac orci quis velit consequat faucibus. Etiam nec ante tortor. Curabitur suscipit purus id mi mollis, in ultricies neque interdum. Fusce mollis pretium felis, id aliquet nunc feugiat ut. Curabitur viverra ultricies velit et efficitur. Donec ac odio dui. Aenean ut risus malesuada, dictum ante eget, volutpat erat.</p>
        </div>
      </div>
    </div>
</div>
