<header>
  <div class="header-container">
    <div class="title-section">
      <!-- Przycisk z routerLink -->
      <button class="action-button" routerLink="/all-products">Moja Spizarnia</button>
      <button class="action-button" routerLink="/manage">Zarządzaj</button>
      <div class="title">Spiżarnia domowa</div>
      <button class="action-button" routerLink="/browse">Przepisy</button>
      <button class="action-button" routerLink="/grocery-list">Lista Zakupów</button>

    </div>
  </div>
</header>
