/* Użyte kolory:
   - Ciemnobrązowy: #54473F
   - Jasnobrązowy: #9A7E6F
   - Jasnoszary/niebieski: #B7C4CF
   - Kremowy: #f5e6da
   - Jasny brązowy: #d7ccc8
*/



/* Stylizacja ogólna */
/* html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5e6da;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: 10px solid #54473F;
    border-radius: 10px;
  } */
  
  /* Sekcja nagłówka */
  .header-container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;

    justify-content: center;
    align-items: center;
  }
  
  .title-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
  }
  
  .header-title {
    color: var(--primary-color);
    text-align: center;
    font-size: 36px;
    padding: 10px 20px;
    border-radius: 10px;
    text-transform: uppercase;
  }
  
  /* Przyciski */
  .toggle-button, .action-button {
    cursor: pointer;
    font-size: 18px;
    color: var(--font-color);
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 5px;
    text-transform: uppercase;
  }

    .toggle-button:hover, .action-button:hover {
      background-color: var(--secondary-left);
      background: linear-gradient(90deg, var(--secondary-left) 0%, var(--secondary-right) 100%);
      color: var(--font-color-hover);
    }
  
  /* Sekcja treści */
  .content-container {
    flex-grow: 1;
    width: 100%;
    height: 90vh;
    background-color: #9A7E6F;
    padding: 20px;
    box-sizing: border-box;
    border: 5px solid #54473F;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
  }
  
  /* Kontener jasny w środku sekcji treści który będzie zamieniany na to co ma sie wyświetlać po wciśnięciu przycisku */
  .content-section {
    padding: 20px;
    background-color: #d7ccc8;
    border: 1px solid #54473F;
    box-sizing: border-box;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
    overflow-y: auto;
  }
  
  /* Responsywność */
  @media (max-width: 768px) {
    .title {
      font-size: 28px;
    }
  
    .toggle-button,
    .action-button {
      font-size: 14px;
      padding: 8px 15px;
    }
  }