<header>
  <div class="header-container">
    <div class="title-section">
      <!-- Przycisk z routerLink -->
      <div class="header-title"><a [routerLink]="['/home']">Spiżarnia domowa</a></div>
      <a [routerLink]="['/all-products']" class="action-button">Moja Spizarnia</a>
      <a [routerLink]="['/manage']"class="action-button" >Zarządzaj</a>
      <a [routerLink]="['/recipes']" class="action-button" >Przepisy</a>
      <a [routerLink]="['/grocery-list']" class="action-button">Lista Zakupów</a>

    </div>
  </div>
</header>
