<header>
  <div class="header-container">
    <div class="title-section">
      <button class="toggle-button" (click)="toggleSection('pantry')">Pokaż Spiżarnię</button>
      <button class="action-button" (click)="managePantry()">Zarządzaj</button>

      <div class="title">Spiżarnia domowa</div>
      <button class="action-button" (click)="browsePantry()">Przeglądaj</button>
      <button class="toggle-button" (click)="toggleSection('shoppingList')">Pokaż Listę Zakupów</button>
    </div>
  </div>
</header>