/* Sekcja nagłówka */
.header-container {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: space-between; /* Wyrównuje elementy do lewego i prawego marginesu */
  align-items: center;
}

.title-section {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Ustawia tytuł po lewej stronie */
  width: 100%;
  max-width: 1200px;
}

.header-title {
  color: var(--primary-color);
  text-align: left; /* Wyrównanie tytułu do lewej */
  font-size: 36px;
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  white-space: nowrap;
}

/* Przyciski */
.toggle-button, .action-button {
  cursor: pointer;
  font-size: 18px;
  color: var(--font-color);
  padding: 10px;
  background-color: var(--primary-color);
  border-radius: 5px;
  text-transform: uppercase;
  margin-left: 10px; /* Daje przestrzeń między przyciskami */
}

  .toggle-button:hover, .action-button:hover {
    background-color: var(--secondary-left);
    background: linear-gradient(90deg, var(--secondary-left) 0%, var(--secondary-right) 100%);
    color: var(--font-color-hover);
  }

/* Sekcja treści */
.content-container {
  flex-grow: 1;
  width: 100%;
  height: 90vh;
  background-color: #9A7E6F;
  padding: 20px;
  box-sizing: border-box;
  border: 5px solid #54473F;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5px;
}

/* Kontener jasny w środku sekcji treści który będzie zamieniany na to co ma sie wyświetlać po wciśnięciu przycisku */
.content-section {
  padding: 20px;
  background-color: #d7ccc8;
  border: 1px solid #54473F;
  box-sizing: border-box;
  border-radius: 10px;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10px;
  overflow-y: auto;
}

/* Responsywność */
@media (max-width: 768px) {
  .header-title {
    font-size: 28px;
  }

  .toggle-button,
  .action-button {
    font-size: 14px;
    padding: 8px 15px;
  }
}
