<div class="manage-header-container">
  <div class="title">Zarządzaj</div>
  <div class="button-group">
    <a [routerLink]="['/manage/productModelView']" class="action-button" routerLinkActive="active-link">Zarządzaj produktami w katalogu</a>
    <a [routerLink]="['/manage/productModel']" class="action-button" routerLinkActive="active-link">Dodaj produkt do katalogu</a>
    <a [routerLink]="['/manage/product']" class="action-button" routerLinkActive="active-link">Dodaj produkt do spiżarni</a>
    <a [routerLink]="['/manage/recipe']" class="action-button" routerLinkActive="active-link">Dodaj przepis</a>
    <a [routerLink]="['/manage/category']" class="action-button" routerLinkActive="active-link">Dodaj kategorię</a>
  </div>
</div>

<!-- Wyświetlanie dynamicznego widoku -->
<div class="site-content">
  <router-outlet></router-outlet>
</div>
