<div class="container">
  <header>
    <div class="actions">
      <h1>Przepisy</h1>
      <input #filter
             id="search"
             placeholder="Wyszukaj po nazwie..."
             (keyup)="filterResults(filter.value)" />
      <button class="primary" type="button" (click)="filterResults(filter.value)">
        Szukaj
      </button>
      <button (click)="resetSearch()">Pokaż wszystkie</button>
    </div>
  </header>

  <main>

    <table>
      <thead>
        <tr>
          <th>Nazwa</th>
          <th>Składniki</th>
          <th>Edytuj</th>
          <th>Usuń</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recipe of filteredRecipes">
          <td>{{ recipe.name }}</td>
          <td>{{ recipe.ingredients.join(', ') }}</td>
          <td>
            <button (click)="deleteRecipe(recipe)">Edytuj</button>
          </td>
          <td>
            <button (click)="deleteRecipe(recipe)">Usuń</button>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
</div>
