/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #5e3929; /* Brązowe tło headera */
  height: 100%;
}

.all-recipes-container {
  background-color: #f8e8e3; /* Beżowe tło */
  min-height: 100vh; /* Rozciąga na całą wysokość strony */
  padding: 20px 50px;
  box-sizing: border-box;
}

/* Header Section */
.header-container {
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #5e3929;
  margin-bottom: 10px;
}

/* Search Bar */
.search-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

  .search-bar input {
    flex: 1; /* Rozciąga na pełną szerokość */
    padding: 10px;
    border: 2px solid #d3a794;
    border-radius: 5px;
  }

  .search-bar button {
    padding: 10px 20px;
    background-color: #6e9e57;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

    .search-bar button:hover {
      background-color: #5e3929;
    }

/* Table Container */
.table-container {
  background-color: white; /* Białe tło tabeli */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Table */
.styled-table {
  width: 100%;
  border-collapse: collapse;
}

  .styled-table thead {
    background-color: #6e9e57;
    color: white;
  }

  .styled-table th,
  .styled-table td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
  }

  .styled-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .styled-table .mat-row {
    text-align: center;
    font-weight: bold;
    color: #5e3929;
  }
