mat-accordion {
  margin: 10px;
  display:block;
  justify-content:center;
  min-width:80vw;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  font-size: 19px;
  font-weight: bold;
}

.dialog-actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.table {
  width: 200%;
  border-collapse: collapse;
}

.no-data {
  padding: 20px;
  font-size: 18px;
  color: var(--secondary-color);
  text-align: center;
}
.background-container {
  top:0;
  min-width: 200%;
  background-color: var(--primary-color);
  padding: 30px 20px;
}
