<!--<div class="content-container">-->
  <!-- Section for recipe list --><!--<div class="title">Lista Przepisów</div>
  <div class="search-bar">
    <input type="text" placeholder="Wyszukaj po nazwie?" (input)="onSearch($event)" />
    <button (click)="filterByName()">Szukaj</button>
    <button (click)="resetFilters()">Wyświetl wszystkie</button>
    <button (click)="filterByPantry()">Wyświetl te na które są składniki</button>
    <button (click)="navigateToAddRecipe()">Dodaj Przepis</button>
  </div>

  <div class="content-section">-->
    <!-- Title for the section -->
    <!-- Search bar for filtering recipes -->
    <!-- Table for displaying recipes -->
    <!--<table>
      <thead>
        <tr>
          <th>Nazwa</th>
          <th>Składniki</th>
          <th>Opcje</th>
        </tr>
      </thead>
      <tbody id="recipes-body"></tbody>
    </table>
  </div>
</div>-->
<div class="all-recipes-container">
  <div class="header-container">
    <div class="title">Lista Przepisów</div>
    <div class="search-bar">
      <input type="text"
             placeholder="Wyszukaj po nazwie?"
             (input)="onSearch($event)" />
      <button (click)="filterByName()">Szukaj</button>
      <button (click)="resetFilters()">Wyświetl wszystkie</button>
      <button (click)="filterByPantry()">Wyświetl te na które są składniki</button>
      <button (click)="navigateToAddRecipe()">Dodaj Przepis</button>
    </div>
  </div>

  <div class="site-content all-recipes-section">
    <table class="styled-table">
      <thead>
        <tr>
          <th>Nazwa</th>
          <th>Składniki</th>
          <th>Opcje</th>
        </tr>
      </thead>
      <tbody id="recipes-body"></tbody>
    </table>
  </div>
</div>
