<div mat-dialog-title class="dialog-title">{{ 'Edycja produktu z katalogu' }}</div>

<div mat-dialog-content class="box-dialog">
  <form #editForm="ngForm">
    <mat-form-field appearance="fill">
      <div class="form-title">Cena</div>
      <input matInput [(ngModel)]="updatedPrice" name="price" type="number" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <div class="form-title">Kategoria</div>
      <mat-select [(ngModel)]="updatedCategory">
        @for (category of categories; track category) {
        <mat-option [value]="category.categoryName">{{category.categoryName}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <div class="form-title">Typ</div>
      <input matInput [(ngModel)]="updatedType" name="type" placeholder="Nowy typ" required />
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button color="primary" [disabled]="editForm.invalid" (click)="onSave()">Zapisz</button>
  <button mat-button (click)="onCancel()">Anuluj</button>
</div>
