@use '@angular/material' as mat;
@use 'sass:map';

html, body {
  height: 100%; /* Ensure the HTML and body are full height */
  margin: 0;
  flex-grow: 1;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Arial Black";
  background: var(--background-color);
  background: linear-gradient(90deg, var(--background-color) 0%, var(--font-color) 100%);
}
//paleta kolorów do zwykłych cssów
:root {
  --primary-color: #efd3c8;
  --secondary-left: #a9ce7f;
  --secondary-right: #669f44;
  --background-color: #61463b;
  --font-color: #4e3d43;
  --font-color-hover: #ffffff;
  @include mat.table-overrides((background-color: var(--font-color), header-headline-color: var(--background-color),row-item-outline-color: var(--font-color), row-item-label-text-color: var(--primary-color), row-item-label-text-font: ("Poppins", "Arial Black"), header-headline-font: ("Poppins", "Arial Black"), header-headline-size: 15px, header-headline-weight: bold));
  @include mat.expansion-overrides((container-text-color: var(--font-color), header-text-color: var(--font-color)));
  @include mat.form-field-overrides((filled-focus-active-indicator-color: var(--primary-color), filled-label-text-color: var(--font-color), filled-error-label-text-color: '#f44336', filled-input-text-color: var(--font-color), enabled-select-arrow-color:var(--secondary-right), filled-hover-label-text-color: var(--secondary-right))); @include mat.datepicker-overrides((calendar-body-label-text-color:(var --secondary-right), toggle-icon-color: var(--secondary-right), calendar-container-background-color: var(--secondary-left),calendar-date-disabled-state-text-color: var(--secondary-right), range-input-disabled-state-text-color: var(--secondary-right)));
  @include mat.sort-overrides((arrow-color: var(---secondary-left)));
  @include mat.dialog-overrides(( container-color: var(--primary-color), container-shape: 16px, content-padding:20px, supporting-text-size:12px, supporting-text-color:var(--background-color), actions-alignment:center));
  @include mat.select-overrides((panel-background-color: var(--primary-color)));
  // @include mat.snack-bar-overrides((
  //   container-color: var(--secondary-left),
  //   supporting-text-color: var(--font-color-hover),
  // ));
}
:host {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  position: absolute;
  top: 10em;
  left: 20em;
  height: 10em;
  width: 20em;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.27);
}
//linki dzięki temu są niepodkreślone, i z oryginalnym kolorem
a {
  text-decoration: none;
  color: inherit;
}

//Nagłówek strony (można jakieś przyciski, search-bary tu wrzucać)
.header-container {
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: space-between; /* Dzieli przestrzeń między tytuł i przyciski */
  align-items: center;
}
.manage-header-container {
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.title-section {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.header-title {
  color: var(--primary-color);
  text-align: center;
  font-size: 34px;
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  white-space: nowrap;
}
//Lewy górny róg każdej strony, informacja o stronie na której się znajdujemy
.title {
  text-align: center;
  font-size: 24px;
  color: var(--font-color);
  padding: 10px 20px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  margin-right: 30px;
  margin-left: 50px;
  box-shadow: none;
  display: inline-block;
  white-space: nowrap;
  text-transform: uppercase;
}
.title-manage {
  text-align: center;
  font-size: 30px;
  color: var(--font-color);
  padding: 10px 20px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  margin-right: 30px;
  margin-left: 30px;
  box-shadow: none;
  display: inline-block;
  white-space: nowrap;
  text-transform: uppercase;
}
//główna zawartość strony
.site-content {
  background-color: var(--primary-color);
  padding: 20px 0 50px 0 ;
  box-sizing: border-box;
  border-radius: 50px 50px 50px 50px;
  display:grid;
  overflow:auto;
  grid-template-rows: auto 1fr;
  height:calc(100vh - 130px);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 5px 15px 5px 15px;
}
.manage-content {
  background-color: var(--primary-color);
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
  border-radius: 50px 50px 50px 50px;
  display: flex;
  height: calc(100vh - 230px);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 5px 15px 5px 15px;
}
//przyciski na headerze
.action-button, .mat-raised-button, snackbar-success button, .snackbar-info button, .snackbar-error button {
  cursor: pointer;
  font-size: 18px;
  color: var(--font-color);
  padding: 10px;
  width: 250px;
  text-align: center;
  margin-right: 10px;
  white-space: nowrap;
  background-color: var(--primary-color);
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "Poppins", "Arial Black";
}
.action-edit-button{
  cursor: pointer;
  font-size: 15px;
  color: var(--font-color);
  padding: 5px;
  width: 100px;
  height: 40px;
  text-align: center;
  margin-right: 10px;
  white-space: nowrap;
  background-color: var(--primary-color);
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "Poppins", "Arial Black";
}
.snackbar-success button, .snackbar-info button, .snackbar-error button {
  cursor: pointer;
  font-size: 15px;
  color: var(--font-color);
  padding: 2px;
  width: 50px;
  height: 30px;
  border: 1px solid var(--background-color);
  text-align: center;
  white-space: nowrap;
  background-color: var(--primary-color);
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "Poppins", "Arial Black";
}
.action-button:hover, .action-edit-button:hover, .snackbar-success button:hover, .snackbar-info button:hover, .snackbar-error button:hover {
  background-color: var(--secondary-left);
  background: linear-gradient(90deg, var(--secondary-left) 0%, var(--secondary-right) 100%);
  color: var(--font-color-hover);
}
.active-link {
  background-color: var(--secondary-left);
  background: linear-gradient(90deg, var(--secondary-left) 0%, var(--secondary-right) 100%);
  color: var(--font-color-hover);
}

.action-button:disabled {
  cursor: not-allowed;
  font-size: 18px;
  color: var(--font-color);
  padding: 10px;
  width: 200px;
  text-align: center;
  margin-right: 10px;
  white-space: nowrap;
  background-color: var(--primary-color);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Poppins", "Arial Black";
}
.total-button {
  cursor: not-allowed;
  font-size: 18px;
  color: var(--background-color);
  padding: 10px;
  width: 200px;
  text-align: center;
  white-space: nowrap;
  background: linear-gradient(90deg, var(--secondary-left) 0%, var(--secondary-right) 100%);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  border: 0;
  font-family: "Poppins", "Arial Black";
}
.summary-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.search-bar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  margin-left: 30px;
  margin-right: 20px;
}

.search-bar input {
  padding: 15px;
  border: 3px solid var(--font-color);
  border-radius: 5px;
  background-color: var(--primary-color);
  font-size: 16px;
  margin-right: 20px;
  margin-left: 10px;
  width: calc(100% - 30px);
  font-style: italic;
}

.search-bar button:hover {
  color: var(--font-color);
  background-color: var(--primary-color);
}

.snackbar-error {
  border: 2px solid var(--font-color);
  border-radius: 10px;
  background: #f44336;
  color: var(--font-color);
}

.snackbar-success {
  border: 2px solid var(--font-color);
  border-radius: 10px;
  background-color: var(--secondary-right);
  color: var(--font-color);
}

.snackbar-info {
  border: 2px solid var(--font-color);
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--font-color);
}

.table-container {
  position: relative;
  padding:20px 20px;
  overflow: auto;
  background-color: var(--primary-color);
}
.container-wrapper {
  position: relative;
  height: 90vh;
  width: 100vh;
  background-color: var(--primary-color);
  overflow: auto;
  padding: 30px 20px;
}
.container-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
}

.container-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.container-section {
  height: 100%;
}
/* Półka pod rzędem kontenerów */
.shelf {
  width: 100%;
  height: 10px;
  background-color: var(--background-color);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/* Kontener z tekstem pod półką */
.shelf-container {
  position: relative;
  margin-top: 20px;
}

.shelf-text {
  position: relative;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--background-color);
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

/* Kontener z gradientem */
.container-box {
  background-color: var(--secondary-left);
  background: linear-gradient(90deg, var(--secondary-left) 0%, var(--secondary-right) 100%);
  color: white;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
  padding: 40px;
  font-size: 20px;
  border-radius: 12px;
  font-weight: bold;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.manage-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--font-color);
}

/* Efekt po najechaniu */
.container-box:hover {
  transform: scale(1.1);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}
.error {
  color: var(--secondary-right);
  font-size: 16px;
  margin-top: 5px;
}
.emptyWarning {
  font-size: 16px;
  color: var(--secondary-right);
  margin-left: 15px;
}

.recipes-container {
  margin-top: 20px;
}

.recipes-header {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  background: var(--primary-color);
  color: var(--font-color);
  padding: 10px;
  border: 3px solid var(--background-color);
}

.recipes-cell {
  padding: 10px;
  border: 3px solid var(--background-color);
  background: var(--font-color);
  color: var(--primary-color);
}
@media (max-width: 1024px) {
  .site-content {
    margin: 5px 10px;
    border-radius: 40px 40px 0 0;
  }

  .action-button {
    font-size: 16px;
    width: 200px;
  }

  .header-container {
    padding: 10px;
  }

  .title, .title-manage {
    font-size: 20px;
    padding: 5px 10px;
  }

  .search-bar input {
    font-size: 14px;
  }
  .mat-header-cell, .mat-cell {
    font-size: 14px;
    padding: 10px;
  }

  .table-container {
    padding: 8px; 
  }
}

@media (max-width: 768px) {
  .site-content {
    margin: 5px 5px;
    padding: 8px;
    border-radius: 30px 30px 0 0;
  }

  .action-button, .action-edit-button {
    font-size: 14px;
    width: 180px;
  }

  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .title, .title-manage {
    font-size: 18px;
    margin: 5px;
  }

  .search-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-bar input {
    width: 100%;
  }
  .mat-header-cell, .mat-cell {
    font-size: 12px;
    padding: 8px;
  }

  .mat-header-cell, .mat-cell {
    white-space: normal;
    word-break: break-word;
  }

  .mat-table {
    font-size: 12px;
  }

  .table-container {
    padding: 5px;
    overflow-x: auto;
  }
}

@media (max-width: 480px) {
  .site-content {
    margin: 2px;
    padding: 5px;
    border-radius: 20px 20px 0 0;
  }

  .action-button, .action-edit-button {
    font-size: 12px;
    width: 150px;
    padding: 8px;
  }

  .title, .title-manage {
    font-size: 16px;
    padding: 5px;
  }

  .header-container {
    padding: 5px;
  }

  .search-bar input {
    font-size: 12px;
  }
  .mat-header-cell, .mat-cell {
    font-size: 10px;
    padding: 6px;
  }

  .mat-table {
    font-size: 10px;
  }

  .table-container {
    overflow-x: auto;
    padding: 2px;
  }
}
.snackBar {
  display: flex;  
  justify-content: space-between;  
  width: 100%;  
}

.snackBarData{
  display: flex;
  flex-direction: column;  
  align-items: flex-start;  
}

.snackBarButton {
  display: flex;
  justify-content: center;  
  align-items: center;  
  width: 100px; 
}

