.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: var(--font-color);
  border: 3px solid var(--background-color);
  border-radius: 15px;
  padding: 25px;
  width: 100%;
  height: 80%;
  box-sizing: border-box;
  font-family: "Poppins", "Arial Black";
  color: var(--secondary-right);
  font-weight: bold;
}

  .form-container > label {
    font-size: 19px;
    font-weight: bold;
    color: var(--secondary-right);
  }

mat-form-field {
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 5px;
}


