<div class="all-products-container">
  <!-- Header Section -->
  <div class="header-container">
    <div class="title">Moja Spiżarnia</div>
    <div class="search-bar">
      <input type="text"
             placeholder="Wyszukaj pyszności..."
             [(ngModel)]="searchTerm"
             (input)="onSearch()" />
      <button (click)="onSearch()">Szukaj</button>
    </div>
  </div>

  <!-- Product Table -->
  <div class="site-content all-products-section">
    <table class="styled-table">
      <thead>
        <tr>
          <th>Nazwa</th>
          <th>Ilość</th>
          <th>Data Zakupu</th>
          <th>Data Ważności</th>
          <th>Kategoria</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of filteredProducts">
          <td>{{ product.name }}</td>
          <td>{{ product.quantity }} {{ product.unit }}</td>
          <td>{{ formatDate(product.purchaseDate) }}</td>
          <td>{{ formatDate(product.expirationDate) }}</td>
          <td>{{ product.category}}</td>
        </tr>
        <tr class="mat-row" *ngIf="!filteredProducts || !filteredProducts.length">
          <td colspan="5">Brak produktów w spiżarni.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
