/* Kontener tła, który rozsuwa stronę w dół */
.background-container {
  display:flex;
  width: auto;
  height:auto;
  background-color: var(--primary-color);
}

/* Form container, który będzie trzymany w background-container */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: var(--font-color);
  border: 3px solid var(--background-color);
  border-radius: 15px;
  padding: 25px;
  box-sizing: border-box;
  font-family: "Poppins", "Arial Black";
  color: var(--secondary-left);
  font-weight: bold;
}

  /* Pozostałe style jak wcześniej */
  .form-container > label {
    font-size: 19px;
    font-weight: bold;
    color: var(--secondary-left);
  }

.button-group {
  display: flex;
  gap: 10px;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

/* Akordeon */
mat-accordion {
  background-color: var(--background-color);
  border-radius: 10px;
  width: 100%;
  border: 2px solid #54473f;
  overflow: hidden;
}

mat-expansion-panel {
  width: 100%;
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--background-color);
}

mat-expansion-panel-header {
  background-color: var(--primary-color);
  color: var(--font-color);
  font-weight: bold;
}



mat-form-field {
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 5px;
}
