<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="form-container">
  <label>Wybierz kategorię:</label>

    <mat-selection-list #shoesList [formControl]="categoriesControl" name="category" [multiple]="false">
      @for (category of categories; track categories) {
        <mat-list-option [value]="category.id">{{category.categoryName}}</mat-list-option>
      }
    </mat-selection-list>
    <p>
       Option selected: {{categoriesControl.value ? categoriesControl.value[0] : 'None'}} 
    </p>
  </form>

  