<div class="home-container">
  <div class="header-container">
    <div class="title">Strona Główna</div>
  </div>
  <div class="site-content container-section">
    <!-- Iteracja przez rzędy kontenerów -->
     @for(row of rows; track row){
    <div class="container-row">
      <div class="container-grid">
        <!-- Iteracja przez kategorie w jednym rzędzie -->
        <a *ngFor="let category of row" [routerLink]="['/manage/container', category.categoryName]">
          <div class="container-box">
            <p>{{ category.categoryName }}</p>
          </div>
        </a>
      </div>
      <!-- Półka pod rzędem kontenerów -->
      <div class="shelf"></div>
    </div>
  }
    <!-- Komunikat, jeśli brak kontenerów -->
     @if(!rows || rows.length === 0){
      <div class="shelf-container">
        <div class="shelf-text">Brak kategorii do wyświetlenia!</div>
        <div class="shelf"></div>
      </div>
  }
  </div>
</div>
