<div class="site-content">
  <div class="container-wrapper">
    <!-- Iteracja przez rzędy kontenerów -->
    <div *ngFor="let row of rows; let i = index" class="container-row">
      <div class="container-grid">
        <!-- Iteracja przez kontenery w danym rzędzie -->
        <div *ngFor="let container of row" class="container-box">
          <a [routerLink]="['/manage/container', container.id]">
            <p>{{ container.category.categoryName }}</p>
          </a>
        </div>
      </div>
      <!-- Półka pod rzędem kontenerów -->
      <div class="shelf"></div>
    </div>
    <!-- Komunikat, jeśli brak kontenerów -->
    <div *ngIf="rows.length === 0">
    <div class="shelf-container">
      <div class="shelf-text">Brak kategorii do wyświetlenia!</div> <!-- Tekst nad półką -->
      <div class="shelf"></div> <!-- Półka -->
    </div>
  </div>
  </div>
  </div>
